.node {
  cursor: pointer;
}


.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  color: #008cba;
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
}

/* .label,
.node--root,
.node--leaf {
  pointer-events: none;
} */

#info_div {
  position: fixed;
  top: 30px;
  left: 10px;
  z-index: 10;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row {
  display: table;
  clear: both;
}

.card {
  word-wrap: break-word;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  font-family: arial;
}

.card button {
  display: inline-flex;
  float: right;
  outline: 0;
  border: none;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.7;
}
